.landingPage {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}

.landingPage > .btn-space {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landingPage > .btn-space > .makeStudyBtn {
    width: 670px;
    margin: 0 10px;
    border: 3px solid black;
    border-radius: 5px;
    margin-bottom: 30px;
    text-decoration:none;
}

a:link { color: black; }
a:visited { color: black; }

.study-content {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.study {
    width: 40%;
    height: 80px;
    border: 2px solid black;
    margin: 0px 5px;
    margin-bottom: 10px;
    text-align: left;
    display: flex;
    white-space: nowrap;
    color: black;
}
.img-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 76px;
    background-color: white;
}

.study-img {
    width: 74px;
    height: 74px;
    float: left;
}

.title-box {
    margin-left: 50px;
    color: black
}
.title-box > div {
    color: black
}

.page{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pageBtn-box {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pageBtn {
    margin: 5px 0;
    width: 40px;
    background-color: #EFEFF5;
}

.pageBtn:hover {
    background-color: #DEDEEA;
}
