.landingPage {
    width: 690px;
    margin: 0 240px;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}

.landingPage > .addBtn {
    width: 670px;
    margin: 0 10px;
    border: 3px solid #D7EAA3;
    border-radius: 5px;
    margin-bottom: 30px;
    text-decoration:none;
}

a:link { color: black; }
a:visited { color: black; }

.study {
    width: 300px;
    height: 80px;
    border: 2px solid #D7EAA3;
    margin: 0px 5px;
    margin-bottom: 10px;
    text-align: left;
} 

.study-img {
    width: 50px;
    float: left;
}

.title-box {
    margin-left: 50px;
}