.landingPage {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgb(250, 235, 224);
}

.landingPage-box {
    background-color: white;
    flex-wrap: wrap;
    margin: 20px 40px;
    width: 100%;
    border-radius: 15px;
}

.landingPage > .btn-space {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.makeStudyBtn {
    width: 200px;
    font-size: 20px;
    font-weight: 300;
    border-radius: 15px;
    text-decoration:none;
    padding: 10px 20px;
    background-color: rgb(201, 228, 197);
    margin-top: 40px;
    box-sizing: border-box;
    position: absolute;
    right: 40px;
    bottom: 50px;
    margin-top: 0;
    margin-right: 20px;
    align-content: center;
    justify-self: center;
    color: black;
}

.makeStudyBtn:hover {
    background-color: rgb(181, 205, 163);
    transform: scale(1.05);
    transition: 0.4s;
    color: black;
}
/* a:link { color: black; }
a:visited { color: black; } */

.study-content {
    width: 100%;
    margin: 0 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
}

.study {
    width: 42%;
    height: 100px;
    border-radius: 90px;
    border: 1px solid black;
    margin: 0px 5px;
    margin-bottom: 20px;
    text-align: left;
    display: flex;
    white-space: nowrap;
    color: black;
    -webkit-box-shadow: 5px 5px 14px 0px rgba(0,0,0,0.54); 
    box-shadow: 5px 5px 14px 0px rgba(0,0,0,0.54);
    margin-right: 30px;
    text-decoration: none;
}

.study:hover {
    transform: scale(1.08);
    transition: all 0.4s;
}

.img-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    border-radius: 90px;
    margin-left: 6px;
}

.study-img {
    width: 90px;
    height: 90px;
    float: left;
    border-radius: 90px;
    border: 1px solid rgb(193, 172, 149);
}

.title-box {
    margin-left: 50px;
    color: black
}
.title-box > div {
    color: black
}

.page{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pageBtn-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(193, 172, 149);
    border-radius: 15px;
    margin-bottom: 30px;
    margin-top: 40px;
}

.pageBtn {
    margin: 5px 5px;
    width: 40px;
    background-color: rgb(193, 172, 149);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 20px;
}

.pageBtn:hover {
    background-color: rgb(250, 235, 224);
    transform: scale(1.03);
    transition: 0.2s;
    color: black;
    font-weight: 500;
}

.title-box {
    margin: auto;
    margin-left: 10px;
}

.Landing-tagName {
    color: black;
    margin-left: 3px;
    border-radius: 20px;
    padding: 2px 8px;
    background-color: rgb(201, 228, 197);
}

.title-box > div {
    display: flex;
    overflow-x: hidden;
}

.taglist-box {
    overflow-x: scroll;
    display: flex;
    width: 200px;
    border-radius: 10px;
}

.study-header {
    width: 100%;
    color: black;
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 400;
    margin-top: 50px;
}

.title-box-title {
    font-size: 23px;
    font-weight: 400;
    margin-bottom: 8px;
    margin-top: 4px;
}

.title-box-tag{
    display: flex;
    justify-content: center;
    font-weight: 300;
}

.title-box-tag > a {
    font-size: 20px;
}