
.StudyRoom-side {
    width: 100%;
    float: left;
    background-color: white;
    height: 100%;
}

.StudyRoom-side > section {
    display: block;
    width: 100%;
    margin-left: 20px;
    text-align: left;
    margin-top: 20px;
}

.StudyRoom-side > section > Link {
    margin-left: 10px;
    width: 100%;
    color: black;
    text-decoration:none;
}

.StudyRoom-side > section > .menuTitle {
    margin-left: 0px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 400;
    color: black;
    text-decoration:none;
    border-bottom: 1px solid rgb(193, 172, 149);
    padding-left: 10px;
}
.StudyRoom-side > section > .menuTitle-home {
    margin-left: 0px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 400;
    color: black;
    text-decoration:none;
}

.StudyRoom-side > section > .menuTitle-home:hover {
    transform: scale(1.5);
    color: rgb(181, 205, 163);
    
}

.StudyRoom-side > section > div > .menuTitle {
    margin-left: 0px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 400;
    color: black;
    text-decoration:none;
}

.menuTitle-box {
    border-bottom: 1px solid rgb(193, 172, 149);
    padding-left: 10px;
}

ul > li {
    margin-bottom: 10px;
}

.menuBtn {
    border-radius: 10px;
    padding: 5px;
}

.menuBtn:hover {
    background-color: rgb(201, 228, 197);
}

.menuBtn{ color: black; text-decoration:none;}
.menuBtn:link { color: black; text-decoration:none;}
.menuBtn:visited { color: black; text-decoration:none;}