
.StudyRoom-side {
    width: 100%;
    float: left;
    background-color: black;
    height: 85vh;
}

.StudyRoom-side > section {
    display: block;
    width: 100%;
    margin-left: 20px;
    text-align: left;
    
}

.StudyRoom-side > section > Link {
    margin-left: 10px;
    width: 100%;
    color: white;
    text-decoration:none;
}

.StudyRoom-side > section > .menuTitle {
    margin-left: 0px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration:none;
}
.StudyRoom-side > section > div > .menuTitle {
    margin-left: 0px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration:none;
}

.menuBtn{color: white; text-decoration:none;}
.menuBtn:link { color: white; text-decoration:none;}
.menuBtn:visited { color: white; text-decoration:none;}