.map {
    width: 500px;
    height: 400px;
    background-color: black;
    margin: 0 auto;
}

.title {
    font-weight:bold;
    display:block;
}

.hAddr {
    padding:5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}

