.makeStudy {
    width: 690px;
    margin: 30px auto;
    padding: 0 20px;
    background-color: rgb(193, 172, 149);
    border-radius: 15px;
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

.makeStudy-title {
    width: 690px;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    color: black;
}

.top-content {
    display: flex;
    margin-bottom: 300px;
}

.infoBox {
    text-align: left;
    width: 70%;
    height: 180px;
    display: block;
    margin-top: 20px;
}

.studyNameInput {
    width: 100%;
    border-radius: 15px;
    height: 46px;
    box-sizing: border-box;
    padding: 3px 10px;
    border: 3px solid rgb(193, 172, 149);
}

.hashtagNameInput {
    width: 70%;
    height: 46px;
    box-sizing: border-box;
    padding: 3px 10px;
    border-radius: 15px 0 0 15px;
    border: 3px solid rgb(193, 172, 149);
}

.hashBox {
    display: flex;
    width: 450px;
    margin-top: 40px;
}

.addBtn {
    width: 30%;
    float: right;
    border-radius:  0 15px 15px 0;
    background-color: rgb(201, 228, 197);
    text-align: center;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 46px;
    box-sizing: border-box;
    border: 3px solid rgb(193, 172, 149);
}

.addBtn:hover {
    background-color: rgb(181, 205, 163);
}

.hashtagListBox {
    display: block;
    width: 100%;
    height: 200px;
}

.count {
    width: 200px;
    height: 110px;
    display: flex;
    font-size: 30px;
    justify-content: space-around;
    align-items: center;
    
}

.countBtn {
    color: black;
}

.countBtn:hover {
    transform: scale(1.2);
    color: rgb(181, 205, 163);
}
.maxNumber {
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.countBox {
    margin-left: 20px;
    height: 180px;
    margin-top: 20px;
    width: 30%;
}

.contentBox {
    width: 100%;
    margin: auto;
    margin-bottom: 30px;
}

.imgBox {
    display: flex;
    align-items: center;
    justify-content: left;
}

.content {
    width: 100%;
    height: 300px;
    background-color: white;
    border-radius: 15px;
    border: 3px solid rgb(193, 172, 149);
    padding: 10px;
}

.contentTitle {
    text-align: left;
    color: black;
}

.toggle {
    padding: 10px 20px;
    background-color: white;
    border: 1px solid rgb(193, 172, 149);
    border-radius: 5px;
    text-align: center;
}

.mapBox {
    margin: auto;
    margin-bottom: 30px;
    width: 100%;
}

.Online {
    width: 400px;
    height: 300px;
    background-color: #D7EAA3;
}

.finishBtn {
    padding: 10px 50px;
    background-color: rgb(201, 228, 197);
    border-radius: 5px;
    color: black;
    text-decoration: none;
}

.finishBtn:hover {
    background-color: rgb(181, 205, 163);
    color: black;
}

.map {
    margin-bottom: 100px;
}

.BtnBox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.col-md-5 {
    width: 100%;
    border: 3px solid rgb(193, 172, 149);
}

.categoryBox {
    display: flex;
    align-items: center;
    justify-content: left;
}

.col-md-4 {
    margin-right: 10px;
    color: black;
    border: 3px solid rgb(193, 172, 149);
    border-radius: 15px;
}


Select > div{
    color: black;
}

.tagName{
    color: black;
    background-color: white;
    border: 1px solid rgb(193, 172, 149);
    white-space: nowrap;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}

.tagDeleteBtn {
    color: black;
    font-size: 20px;
    margin: auto;
    margin-right: 5px;
}

/* div {
    color: black;
} */

.col-md-4 > div > * {
    color: black;
}

.col-md-5 > div > * {
    color: black;
}

/* a{color: black; text-decoration: none;}
a:visited{color: black; text-decoration: none;}
a:link{color: black; text-decoration: none;} */

textarea {
    resize: none;
}

.study_map {
    border: 3px solid rgb(193, 172, 149);
    margin-top: 30px;
    border-radius: 15px;
}

.countTitle {
    color: black;
}

.imgBox > img {
    width: 100px;
    height: 100px;
    background-color: rgb(250, 235, 224);
    border-radius: 50%;
    margin-right: 10px;
}