.makeStudy {
    width: 690px;
    margin: 30px auto;
    padding: 0 20px;
    background-color: black;
    border-radius: 5px;
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

.title {
    width: 690px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.top-content {
    display: flex;
    margin-bottom: 300px;
}

.infoBox {
    text-align: left;
    width: 70%;
    height: 180px;
    display: block;
    margin-top: 20px;
}

.studyNameInput {
    width: 100%;
    border: 3px solid black;
}

.hashtagNameInput {
    width: 70%;
}

.hashBox {
    display: flex;
    width: 450px;
    margin-top: 40px;
}

.addBtn {
    width: 30%;
    float: right;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    text-align: center;
    color: black;
}

.hashtagListBox {
    display: block;
    width: 100%;
    height: 200px;
}

.count {
    text-align: center;
    width: 200px;
    height: 110px;
    display: flex;
    font-size: 30px;
    justify-content: space-around;
    align-items: center;
    
}

.maxNumber {
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    color: black;
}

.countBox {
    margin-left: 20px;
    height: 180px;
    margin-top: 20px;
    width: 30%;
}

.contentBox {
    width: 100%;
    margin: auto;
    margin-bottom: 30px;
}

.imgBox {
    display: flex;
    align-items: center;
    justify-content: left;
}

.content {
    width: 100%;
    height: 300px;
    background-color: white;
    border-radius: 5px;
    border: 3px solid black;
}

.contentTitle {
    text-align: left;
}

.toggle {
    padding: 10px 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}

.mapBox {
    margin: auto;
    margin-bottom: 30px;
    width: 100%;
}

.Online {
    width: 400px;
    height: 300px;
    background-color: #D7EAA3;
}

.finishBtn {
    padding: 10px 50px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}

.map {
    margin-bottom: 100px;
}

.BtnBox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.col-md-5 {
    width: 100%;
    border: 3px solid black;
}

.categoryBox {
    display: flex;
    align-items: center;
    justify-content: left;
}

.col-md-4 {
    margin-right: 10px;
    color: black;
    border: 3px solid black;
}

Select > div{
    color: black;
}

.tagName{
    color: black;
    background-color: white;
    border: 1px solid white;
    white-space: nowrap;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
}

.tagDeleteBtn {
    color: black;
    font-size: 20px;
    margin: auto;
    margin-right: 5px;
}

div {
    color: white;
}

.col-md-4 > div > * {
    color: black;
}

.col-md-5 > div > * {
    color: black;
}

a{color: black; text-decoration: none;}
a:visited{color: black; text-decoration: none;}
a:link{color: black; text-decoration: none;}

textarea {
    resize: none;
}

.study_map {
    border: 3px solid black;
}