.mainView {
    width: 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainView > a {
    width: 100px;
    border: 2px solid #D7EAA3;
    border-radius: 5px;
    text-decoration:none;
}
