.search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-flow: wrap;
    margin-bottom: 30px;
    background-color: white;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 4px;
}

.search-wrap {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.select-box {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 10px
}

.search-box {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 10px;
}

.study-name{
    width: 380px;
    height: 38px;
    padding: 8px 12px;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

input {
    border: 0px;
}

input:focus {
    outline: none;
}

.addBtn {
    float: right;
}

.searchBtn {
    width: 100px;
    height: 38px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 5px;
    margin: 0;
    color: black;
    box-sizing: border-box;
}

.searchBtn:hover {
    background-color: #DEDEEA;
}