.search {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1130px;
    flex-flow: wrap;
}

.parent-category, .child-category {
    width: 125px;
    height: 20px;
    padding: 8px 12px;
    border-radius: 5px;
    border: 2px solid #D7EAA3;
}

.study-name, .hashtag {
    width: 229px;
    height: 20px;
    padding: 8px 12px;
    border-radius: 5px;
    border: 2px solid #D7EAA3;
}

input {
    border: 0px;
}

input:focus {
    outline: none;
}

.addBtn {
    float: right;
}

.tags {
    width: 1130px;
    height: 40px;
}

.searchBtn {
    border: 3px solid black;
    border-radius: 5px;
    padding: 5px;
}