.ManagementMember {
    display: flex;
    width: 100%;
}

.ManagementMember > aside {
    width: 18%;
}

.ManagementMember > .ManagementMember-content {
    display: block;
    width: 82%;
}

.ManagementMember > .ManagementMember-content > .ManagementMember-title{
    width: 100%;
    font-size: 30px;
    font-weight: bold;
}

.ManagementMember > .ManagementMember-content > .ManagementMember-list {
    width: 100%;
    display: flex;
}

.ManagementMember-list > .left-member {
    width: 50%;
    height: 500px;
    border: 3px solid black;
    margin: 0 10px;
    border-radius: 5px;
}

.left-member > .Member {
    width: 100%;
    border-bottom: 1px solid black;
    border-top: 0px;
    text-align: left;
    padding: 5px 10px;
    color: black;
    display: flex;
    justify-content: space-between;
}

.left-member > .Member > div {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding: 2px 5px;
    border-radius: 5px;
}

.ManagementMember-list > .right-member {
    width: 50%;
    height: 500px;
    border: 3px solid black;
    margin: 0 10px;
    border-radius: 5px;
}

.right-member > .waitUser {
    width: 100%;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    color: black;
}

.right-member > .waitUser > div {
    display: flex;
}

.right-member > .waitUser > div > div{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding: 2px 5px;
    border-radius: 5px;
    margin-left: 10px;
}

.list-title {
    font-size: 18px;
    font-weight: bold;
    color: black;
    border-bottom: 3px solid black;
}