.MyPage {
    width: 690px;
    margin: 0 200px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.image {
    width: 110px;
    height: 110px;
    border: black;
    border-radius: 90px;
    background-color: white;
}

.info {
    width: 270px;
    margin-left: 20px;
    text-align: left;
}

.requestBtn {
    width: 200px;
    height: 30px;
    line-height: 30px;
    border: 2px solid black;
    border-radius: 5px;
    display: block;
    text-align: center;
    background-color: white;
    float: right;
}

.requestBtn > p {
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 90px;
    background-color: #ff0000;
    margin: auto 0px;
    margin-top: -10px;
    margin-right: -10px;
    text-align: center;
}

.friendsTitle {
    background-color: #9ebf44;
    border: 1px solid black;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    height: 40px;
    align-items: center;
    width: 690px;
}

.updateBtn {
    margin-bottom: 50px;
    width: 200px;
    margin: 10px auto;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
}

.MyPageTag {
    display: flex;
    margin: 0 10px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid black;
    padding: 3px 3px;
}

.info > div > .tags {
    display: flex;
    width: 250px;
    overflow-x: scroll;
    margin: auto;
    height: 50px;
}

.top {
    display: inline;
    width: 690px;
    align-items: center;
    justify-content: center;
    height: 80px;
    margin-bottom: 20px;
}

.middle {
    display: flex;
    width: 690px;
    height: 300px;
    justify-content:space-between;
    margin-bottom: 20px;
}

.MyPage > .middle > .profile-box{
    width: 320px;
    height: 300px;
    background-color: #D7EAA3;
    margin: 0;
    border-radius: 5px;
}

.MyPage > .middle > .location-box{
    width: 320px;
    height: 300px;
    background-color: #D7EAA3;
    margin: 0;
    border-radius: 5px;
}

.box-title {
    font-weight: bold;
    font-size: 20px;
}

.top-title {
    font-weight: bold;
    font-size: 30px;
}