.MyPage {
    width: 690px;
    margin: 0 200px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.image {
    width: 110px;
    height: 110px;
    border: 3px solid rgb(250, 235, 224);
    border-radius: 90px;
    background-color: white;
}

.info {
    width: 270px;
    margin-left: 20px;
    text-align: left;
}

.myMap {
    width: 180px;
    height: 180px;
    margin: 0 auto;
    margin-top: 4px;
    border-radius: 15px;
}

.contentBox {
    height: 65%;
}

.requestBtn {
    width: 200px;
    height: 30px;
    line-height: 30px;
    border: 2px solid black;
    border-radius: 5px;
    display: block;
    text-align: center;
    background-color: white;
    float: right;
}

.requestBtn > p {
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 90px;
    background-color: #ff0000;
    margin: auto 0px;
    margin-top: -10px;
    margin-right: -10px;
    text-align: center;
}

.friendsTitle {
    background-color: black;
    border: 1px solid black;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    height: 40px;
    align-items: center;
    width: 690px;
}

.updateBtn {
    width: 200px;
    margin: 0 auto;
    border-radius: 50px;
    background-color: rgb(201, 228, 197);
    padding: 10px 80px;
}

.updateBtn:hover {
    background-color: rgb(181, 205, 163);
    color: white;
}

.MyPageTag {
    display: flex;
    margin: 0 10px;
    padding: 3px 3px;
    white-space : nowrap;
    color: black;
    justify-content: center;
    align-items: center;
    color: black;
    margin-left: 3px;
    border-radius: 20px;
    padding: 2px 8px;
    background-color: rgb(250, 235, 224);
}
.info > div {
    color: black;
}

.info > div > .tags {
    display: flex;
    width: 250px;
    overflow-x: scroll;
    margin: auto;
    height: 50px;
}

.top {
    display: inline;
    width: 690px;
    align-items: center;
    justify-content: center;
    height: 80px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.middle {
    display: flex;
    width: 690px;
    height: 300px;
    justify-content:space-between;
    margin-bottom: 20px;
}

.MyPage > .middle > .profile-box{
    width: 320px;
    height: 300px;
    background-color: rgb(193, 172, 149);
    margin: 0;
    border-radius: 15px;
    -webkit-box-shadow: 7px 7px 9px -3px rgba(0,0,0,0.54); 
    box-shadow: 7px 7px 9px -3px rgba(0,0,0,0.54);
}

.MyPage > .middle > .location-box{
    width: 320px;
    height: 300px;
    background-color: rgb(193, 172, 149);
    margin: 0;
    border-radius: 15px;
    -webkit-box-shadow: 7px 7px 9px -3px rgba(0,0,0,0.54); 
    box-shadow: 7px 7px 9px -3px rgba(0,0,0,0.54);
}

.box-title {
    font-weight: 400;
    font-size: 20px;
    color: black;
}

.top-title {
    font-weight: 500;
    font-size: 32px;
    color: black;
}

.apply {
    width: 100%;
}

.apply-title {
    font-size: 20px;
    font-weight: 400;
    border-bottom: 10px solid rgb(250, 235, 224);
    background-color: rgb(193, 172, 149);
    color: black;
    border-radius: 15px 15px 0 0;
    -webkit-box-shadow: 7px 7px 9px -3px rgba(0,0,0,0.54); 
    box-shadow: 7px 7px 9px -3px rgba(0,0,0,0.54);
    padding: 5px 0;
}

.apply-content {
    width: 100%;
    height: 500px;
    background-color: rgb(193, 172, 149);
    margin-bottom: 30px;
    border-radius: 0 0 15px 15px;
    -webkit-box-shadow: 7px 7px 9px -3px rgba(0,0,0,0.54); 
    box-shadow: 7px 7px 9px -3px rgba(0,0,0,0.54);
}

.apply-info {
    border-bottom: 2px solid black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 4px 10px;
    color: black;
}

.status-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.status-icon:hover {
    color: black;
}

.info-name {
    font-size: 19px;
}