.ManagementStudy {
    display: flex;
    width: 100%;
}

.ManagementStudy > aside {
    width: 18%;
}

.ManagementStudy > .ManagementStudyContnetsBox {
    margin: auto;

}

.checkbox-box {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.checkbox {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    
}

.close-checkbox {
    margin-right: 20px;
    width: 30px;
    height: 30px;
}