.header {
    width: 1130px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin: 40px;
    color: green;
    font-size: 20px;
    text-decoration:none;
}

.loginBtn {
    margin-right: 20px;
}
.logo:link {color: green;}
.logo:visited { color: green; }