.header {
    width: 1130px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin: 40px;
    color: #D7EAA3;
    font-size: 35px;
    text-decoration:none;
}

.loginBtn {
    margin-right: 20px;
}
.logo:link {color: #D7EAA3;}
.logo:visited { color: #D7EAA3; }