.LocationUpdate {
    width: 690px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 240px;
    padding: 0 20px;
    margin-top: 30px;
}
.LocationContents {
    margin: 0 auto;
    width: 100%;
    height: 600px;
    background-color: rgb(193, 172, 149);
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
    -webkit-box-shadow: 7px 7px 9px -3px rgba(0,0,0,0.54); 
    box-shadow: 7px 7px 9px -3px rgba(0,0,0,0.54);
}
.Location-updateBtn{
    width: 100px;
    margin: 20px auto;
    margin-top: 50px;
    margin-bottom: 10px;
    border-radius: 15px;
    background-color: rgb(201, 228, 197);
    padding: 5px 10px;
    text-decoration: none;
    color: black;
}

.Location-updateBtn:hover {
    color: black;
    background-color: rgb(181, 205, 163);
}

.LocationContents > .LocationSearch-box {
    display: flex;
    width: 400px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.LocationNameInput {
    width: 80%;
    border-bottom: 1px solid black;
    padding: 1px;
    height: 40px;
    box-sizing: border-box;
    padding: 3px 10px;
    border-radius: 15px 0 0 0;
}

.LocationSearchBtn {
    width: 20%;
    height: 30px;
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(201, 228, 197);
    text-decoration: none;
}

.LocationSearchBtn:hover {
    background-color: rgb(181, 205, 163);
}

.LocationContents > div > .maplist {
    width: 400px;
    height: 260px;
    background-color: white;
    margin: 0 auto;
    overflow-x: hidden;
}

.localName {
    display: flex;
    color: black;
    text-align: left;
    padding-left: 10px;
}

.localName-box {
    width: 385px;
    height: 25px;
    border: 0px;
}

.selectedLocationName {
    width: 400px;
    height: 30px;
    margin: 0 auto;
    background-color: white;
    text-align: left;
    padding-left: 8px;
    color: black;
}

.scrollRef {
    width: 400px;
    height: 4px;
}

.location-modalTitle {
    font-weight: 400;
    font-size: 30px;
    margin: 30px 0;
}