.GatheringDetail {
    width: 100%;
    display: flex;
}

.GatheringDetail > aside {
    width: 18%;
}

.GatheringDetail > div > .gatheringDetail-content > div {
    width: 82%;
    color: black;
    display: block;
}

.GatheringDetail > div > div > div > div {
    color: black;
}

.GatheringDetail > div > div > div > textarea {
    color: black;
    width: 400px;
    height: 200px;
    resize: none;
    outline: black;
    font-weight: 500;
    margin-top: 10px;
}

textarea:hover {
    outline: black;
}

textarea:focus {
    outline: black;
}

.gatheringDetail-body {
    margin: auto;
    width: 60%;
    margin-top: 20px;
}

.gatheringDetail-content {
    text-align: left;
    font-weight: 300;
    font-size: 20px;
}

.gatheringJoinBtn {
    color: black;
    padding: 2px 5px;
    background-color: rgb(201, 228, 197);
    margin: auto;
    font-size: 25px;
    margin-top: 20px;
    width: 150px;
    border-radius: 5px;
    text-decoration: none;
}

.gatheringJoinBtn:hover {
    background-color: rgb(181, 205, 163);
    color: black;
}

.gatheringMap {
    width: 400px;
    height: 330px;
    display: flex;
    border-radius: 15px;
}

.gatheringDetail-box {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.gatheringMember {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    border-bottom: 1px solid rgb(250, 235, 224);
    color: black;
    padding: 10px;
}

.gatheringMember > img {
    width: 50px;
    height: 50px;
    border-radius: 90px;
    margin-right: 10px;
}

.gatheringMemberList {
    display: block;
    width: 100%;
    height: 500px;
    overflow-y: scroll;
    background-color: rgb(193, 172, 149);
    border-radius: 15px;
}

.gatheringMemberList > .gatheringMemberList-title {
    width: 100%;
    font-size: 20px;
    border-bottom: 3px solid rgb(250, 235, 224);
    color: black;
}

.gatheringDetail-contents {
    border: 0;
    padding: 10px;
    background-color: rgb(193, 172, 149);
    border-radius: 15px;
}

.gatheringDetail-header {
    width: 100%;
    color: black;
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 400;
    margin-top: 30px;
}

.update_delete-btn-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin:auto;
}