.GatheringChat {
    display: flex;
    width: 100%;
    overflow-y: auto;
}

.GatheringChat > aside {
    width: 18%;
}

.GatheringChat > div {
    width: 82%;
}

.GatheringChat > div > .chat-messages {
    border-bottom: 3px solid black;
    width: 100%;
    height: 75vh;
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
    box-sizing: border-box;
}

.GatheringChat > div > .chat-input-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.GatheringChat > div > .chat-input-box > textarea {
    resize: none;
    width: 80%;
    height: 10vh;
}

.GatheringChat > div > .chat-input-box > button {
    width: 20%;
    height: 10vh;
}

.right-chat-word {
    box-sizing: border-box;
    margin: 10px 0;   
    margin-left: 60%;
    color: black;
    text-align: right;
    border: 1px solid black;
    padding: 10px 5px;
    word-break:break-all;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
}

.left-chat-word {
    box-sizing: border-box;
    margin: 10px 0;
    margin-right: 60%;
    color: black;
    text-align: left;
    border: 1px solid black;
    padding: 10px 5px;
    word-break:break-all;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
}

.right-createdAt {
    color: black;
    margin-bottom: 20px;
    font-size: 8px;
    width: 100%;
    display: flex;
    justify-content: right;
}

.left-createdAt {
    color: black;
    margin-bottom: 20px;
    font-size: 8px;
    width: 100%;
    display: flex;
    justify-content: left;
}

.chatRef {
    width: 200px;
    height: 20px;
    background-color: blue;
    margin: 0 auto;
}