
div{
  text-decoration: none;
}
div :link:visited:hover {
  display: block;
  text-decoration: none;
}
a{
  text-decoration: none;
}
a :link:visited:hover{
  text-decoration: none;
}

.App {
  width: 100%;
  min-width: 1190px;
  text-align: center;
  vertical-align: middle;
  scrollbar-width: none;
  -ms-overflow-style: none;
  font-family: 'Jua', sans-serif;
  position: relative;
}

.App::-webkit-scrollbar {
  display: none;
}

.header-box {
  width: 100%;
}

.wrap {
  width: 100%;
  display: inline-block;
}

.web-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.footer-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #DEE1E6;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 30px;
}


