div {
  display: block;
}

.App {
  width: 100%;
  overflow: hidden;
  min-width: 1190px;
  text-align: center;
  vertical-align: middle;
} 

.header-box {
  width: 100%;
}

.wrap {
  width: 100%;
  margin: 0 auto;
  display: inline-block;
}

.container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-box {
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #DEE1E6;
}

.search-box {
  padding: 0px 30px;
}

