div {
  display: block;
}

.App {
  width: 100%;
  min-width: 1190px;
  text-align: center;
  vertical-align: middle;
  scrollbar-width: none;
  -ms-overflow-style: none;
  font-family: 'Jua', sans-serif;
}

.App::-webkit-scrollbar {
  display: none;
}

.header-box {
  width: 100%;
}

.wrap {
  width: 100%;
  display: inline-block;
}

.web-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-box {
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #DEE1E6;
}


